<a href="https://colab.research.google.com/github/Lanxin-Xiang/is765/blob/main/W1_Python_Essential.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# W1. Python Essential


https://www.w3schools.com/python/default.asp

https://www.geeksforgeeks.org/python-programming-language/?ref=dhm

## Variables and Data Type

### Variable

Variables are containers for storing data values.

In [ ]:
# Create variables and assign variable one by one
x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
# Assign values to multiple variables
a, b, c = "Orange", "Banana", "Cherry"
print(a)
print(b)
print(c)

Orange
Banana
Cherry

In [ ]:
# Unpack a Collection
fruits = ["apple", "banana", "cherry"]
a, b, c = fruits
print(a)
print(b)
print(c)

apple
banana
cherry

In [ ]:
# Get variable type
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

**Casting** variable to other type:

- int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
- float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
- str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [ ]:
# Casting example
z = str(x)
print(type(z))

<class 'str'>

### Data Type

**Built-in Data Types**:

Python has the following data types built-in by default, in these categories:

- Text Type:	`str`
- Numeric Types:	`int`, `float`, `complex`
- Sequence Types:	`list`, tuple, `range`
- Mapping Type:	`dict`
- Set Types:	`set`, `frozenset`
- Boolean Type:	`bool`
- Binary Types:	`bytes`, `bytearray`, `memoryview`
- None Type:	`NoneType`

#### **Numeric**

In [ ]:
val = int(10) # int
val = float(10) # float
val = complex(10) # complex
val = complex(10, 20) # complex

In [ ]:
# basic math operations

var = 10
print("var + 4 =", 10 + 4)
print("var - 4 =", 10 - 4)
print("var * 4 =", 10 * 4)
print("var ^ 4=", 10 ** 4)
print("int(var) / 4 =", 10//4) # // for int division
print("float(var) / 4 =", 10/4) # / for float division
# All compound assignment operators available
# including += -= *= **= /= //=
# pre/post in/decrementers not available (++ --)

var + 4 = 14
var - 4 = 6
var * 4 = 40
var ^ 4= 10000
int(var) / 4 = 2
float(var) / 4 = 2.5

#### **String**

In [ ]:
print("Hello")
print('Hello')

Hello
Hello

In [ ]:
# Multiline Strings
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
# slicing string
a[:10]

'Lorem ipsu'

In [ ]:
# String methods

a.upper() # convert to upper case
a.lower() # convert to lower case
a.capitalize() # capitalize
a.strip() # get ride of some characters at the begining and end position of
          # the string, default value is space
a.replace("i", "o") # replace "i" with "o"
a.split(",") # split the string from "," and return a list

['Lorem ipsum dolor sit amet',
 '\nconsectetur adipiscing elit',
 '\nsed do eiusmod tempor incididunt\nut labore et dolore magna aliqua.']

In [ ]:
# String Concatenation
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [ ]:
age = 36
txt = f"My name is John, I am {age}."
print(txt)

My name is John, I am 36.

#### **Python collections**

**List** is a collection which is ordered and changeable. Allows duplicate members.

In [ ]:
# allow duplicate
my_list = [1, 2, 3, 4, 4]
# construct list
my_list = list((1, 2, 3, 4, 4))
print(my_list)
print(len(my_list))

[1, 2, 3, 4, 4]
5

In [ ]:
# slicing
print(my_list[1:3])

[2, 3]

In [ ]:
# access and change item
print(my_list[0])

my_list[0] = 10
print(my_list)

my_list.insert(2, 20)
print(my_list)

1
[10, 2, 3, 4, 4]
[10, 2, 20, 3, 4, 4]

In [ ]:
# extend/join list and append list
print(my_list)
my_list.extend([5, 6, 7]) # no return value
print(my_list)

added = my_list+[8]
print(added)

my_list.append([9, 10]) # no return value
print(my_list)
my_list.remove([9, 10])

[10, 2, 20, 3, 4, 4]
[10, 2, 20, 3, 4, 4, 5, 6, 7]
[10, 2, 20, 3, 4, 4, 5, 6, 7, 8]
[10, 2, 20, 3, 4, 4, 5, 6, 7, [9, 10]]

In [ ]:
# reverse list

my_list.reverse() # no return value
my_list[::-1] # another way to reverse


print(my_list)
print(my_list[::-1]) # another way to reverse

[7, 6, 5, 4, 4, 3, 20, 2, 10]
[10, 2, 20, 3, 4, 4, 5, 6, 7]

In [ ]:
# sort list
my_list.sort(reverse=True) # no return value
sorted(my_list, reverse=True)

print(my_list)
print(sorted(my_list)) # return a new list
print(sorted(my_list, reverse=True)) # return a new list

[20, 10, 7, 6, 5, 4, 4, 3, 2]
[2, 3, 4, 4, 5, 6, 7, 10, 20]
[20, 10, 7, 6, 5, 4, 4, 3, 2]

**Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.

In [ ]:
my_tuple = ('apple', 'cherry', 'pineapple')
my_tuple

('apple', 'cherry', 'pineapple')

In [ ]:
my_tuple[0]

'apple'

In [ ]:
my_tuple[0] = 'banana'

TypeError: ignored

In [ ]:
my_tuple[0] = 'banana' # error, unchangeable

TypeError: ignored

In [ ]:
# but you can convert a tuple to list then change it
# and you can add a tuple to a tuple
temp_tuple = ('orange',)
my_tuple += temp_tuple
print(my_tuple)

('apple', 'cherry', 'pineapple', 'orange')

In [ ]:
# you can not remove item from the tuple, but you can delete it completely
del temp_tuple
print(temp_tuple) #this will raise an error because the tuple no longer exists

NameError: ignored

In [ ]:
#unpack tuple
fruits = ("apple", "banana", "orange")
(red, yellow, orange) = fruits

print(red)
print(yellow)
print(orange)

apple
banana
orange

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

**Set** is a collection which is unordered, unchangeable, and unindexed. No duplicate members.

In [ ]:
my_set = {"apple", "banana", "cherry"}

In [ ]:
# duplicate is not allowed
# set can be used to remove duplicate items

dupset = {"apple", "banana", "cherry", "apple"}
print(dupset)

{'apple', 'cherry', 'banana'}

In [ ]:
my_set[0] # we cannot access set like this, set has no order

TypeError: ignored

In [ ]:
# add item
my_set.add("orange")
print(my_set)

{'apple', 'cherry', 'orange', 'banana'}

In [ ]:
# add set
# The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

my_set.update(["mango", "pineapple"])
print(my_set)

{'orange', 'apple', 'mango', 'banana', 'pineapple', 'cherry'}

In [ ]:
# To remove an item in a set, use the remove(), or the discard() method.

my_set.remove("apple")


print(my_set)

{'orange', 'mango', 'banana', 'pineapple', 'cherry'}

**Dictionary** is a collection which is ordered and changeable. No duplicate members.

In [ ]:
# dictionary = {
#     <key1>: <val1>,
#     <key2>: <val2>,
#     <key3>: <val3>
#     }

my_dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(my_dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
# no duplicate keys
dupdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(dupdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
print(dupdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
# access items
my_dict = {
  "key1": 1,
  "key2": 2,
  "key3": 3
}
print(my_dict["key1"])
print(my_dict.get("key2", None))
print(my_dict.get("key4", None))
print(my_dict.keys())
print(my_dict.values())
print(my_dict.items())

1
2
None
dict_keys(['key1', 'key2', 'key3'])
dict_values([1, 2, 3])
dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [ ]:
# sort dictionary

print(sorted(my_dict)) # sort key
print(sorted(my_dict.values())) # sort value
# sort the dictionary by value and return a list of tuples
print(sorted(my_dict.items(), key=lambda x: -x[1]))

['key1', 'key2', 'key3']
[1, 2, 3]
[('key3', 3), ('key2', 2), ('key1', 1)]

In [ ]:
# update or add items

my_dict['key1'] = 0
my_dict["key4"] = 4
my_dict.update({"key3": 5})
my_dict.update({"key5": 6})
print(my_dict)

{'key1': 0, 'key2': 2, 'key3': 5, 'key4': 4, 'key5': 6}

## Condition

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

## Loop

### while-loop

In [ ]:
# run until the condition is False

i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
# break statement

i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
#continue statement

i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
# else statement

i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

### for-loop

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
for i in range(len(fruits)):
  print(fruits[i])

apple
banana
cherry

In [ ]:
for c in 'apple':
  print(c)

a
p
p
l
e

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [ ]:
for x in range(6):
  print(x)

# output: 0, 1, 2, 3, 4, 5

0
1
2
3
4
5

In [ ]:
for x in range(2, 6):
  print(x)

# output: 2, 3, 4, 5

2
3
4
5

In [ ]:
for x in range(2, 30, 3):
  print(x)

# output: 2, 5, 8, ..., 26, 29

2
5
8
11
14
17
20
23
26
29

## Function and Lambda function

defined using the `def` keyword

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [ ]:
def my_fruit(fruit):
  print(f"I like {fruit}")

my_fruit("apple")

I like apple

In [ ]:
def my_shopping_list(*shopping_list):
  for i in range(len(shopping_list)):
    print(f"item {i+1}: {shopping_list[i]}")

my_shopping_list("apple", "banana", "cherry")

item 1: apple
item 2: banana
item 3: cherry

In [ ]:
def my_bill(**bill):
  for item in bill:
    print(f"{item}: {bill[item]}")

my_bill(water=1, fruit=3, veggie=3)

water: 1
fruit: 3
veggie: 3

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function()

my_function("Brazil")

In [ ]:
def my_bill(beer = 2, water):
  print(f"water: {water}")
  print(f"beer: {beer}")

my_bill(water= 1)

SyntaxError: ignored

In [ ]:
def add(a, b):
  # returning sum of a and b
  return a + b

In [ ]:
def devide(p, q):
  if q == 0:
    print("Error! You cannot devide a number by 0!")
    return

  b = p//q
  r = p%q
  return b, r
# Return tuple, we could also write (b, r)

A lambda function is a small anonymous function. A lambda function can take any number of arguments, but can only have one expression.

In [ ]:
x = lambda a : a + 10
for i in range(5):
  print(x(i))

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

In [ ]:
# another common use of lambda is to sort collections
my_list = [-5, 0, 2, 1, 2]
my_list.sort(key=lambda x: -abs(x))
print(my_list)

## Module and magic commands

In [ ]:
!pip install pandas

# maggic funtions in notebooks to install package you need

In [ ]:
import pandas

In [ ]:
import pandas as pd

In [ ]:
from pandas import DataFrame

In [ ]:
import pandas as pd # import package and give it an allias

import numpy as np

In [ ]:
!pwd # magic function to print working directory

In [ ]:
!ls # list files in the working directory

We are going to mount our own cloud storage to the working space

In [ ]:
from google.colab import drive # import package
drive.mount('/content/drive')

In [ ]:
!ls drive/

In [ ]:
# magic function to change working directory

%cd drive/MyDrive

In [ ]:
!pwd

In [ ]:
%cd //content

## NumPy

In [ ]:
import numpy as np

### Create NumPy array

**0-D Arrays**

0-D arrays, or Scalars, are the elements in an array. Each value in an array is a 0-D array.

In [ ]:
arr = np.array(42)

print(arr)

**1-D Arrays**

An array that has 0-D arrays as its elements is called uni-dimensional or 1-D array.

In [ ]:
arr = np.array([1, 2, 3, 4, 5])

print(arr)

**2-D Arrays**

An array that has 1-D arrays as its elements is called a 2-D array.
These are often used to represent matrix or 2nd order tensors.

In [ ]:
arr = np.array([[1, 2, 3], [4, 5, 6]])

print(arr)

In [ ]:
arr.ndim

**Check Dimension**

In [ ]:
a = np.array(42)
b = np.array([1, 2, 3, 4, 5])
c = np.array([[1, 2, 3], [4, 5, 6]])
d = np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]])

print(a.ndim)
print(b.ndim)
print(c.ndim)
print(d.ndim)

**Indexing**

In [ ]:
arr = np.array([1, 2, 3, 4])
print(arr[0])

In [ ]:
arr = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
print(arr[0, 1, 2])

**Slicing**

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])
print(arr[1:5:2])

In [ ]:
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])
print(arr[1, 1:4])

### Data Type

Data types in NumPy:
- `i` - integer
- `b` - boolean
- `u` - unsigned integer
- `f` - float
- `c` - complex float
- `m` - timedelta
- `M` - datetime
- `O` - object
- `S` - string
- `U` - unicode string
- `V` - fixed chunk of memory for other type ( void )

In [ ]:
# get data type
arr = np.array(['apple', 'banana', 'cherry'])
print(arr.dtype)

In [ ]:
#Create an array with data type 4 bytes integer
arr = np.array([1, 2, 3, 4], dtype='i4')
print(arr.dtype)

### NumPy Array Shape and Reshape

In [ ]:
arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])
print(arr.shape)

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])
newarr = arr.reshape(4, 3)

print(newarr)

### NumPy Array Methods

**Join**

In [ ]:
arr1 = np.array([1, 2, 3])
arr2 = np.array([4, 5, 6])
arr = np.concatenate((arr1, arr2))

print(arr)

In [ ]:
arr1 = np.array([[1, 2], [3, 4]])
arr2 = np.array([[5, 6], [7, 8]])
arr = np.concatenate((arr1, arr2), axis=1)


# try axis=0
print(arr)

In [ ]:
# join with stack function

arr1 = np.array([1, 2, 3])
arr2 = np.array([4, 5, 6])
arr = np.stack((arr1, arr2), axis=1)

print(arr)

In [ ]:
# Stacking Along Columns

arr1 = np.array([1, 2, 3])
arr2 = np.array([4, 5, 6])
arr = np.hstack((arr1, arr2))

print(arr)

In [ ]:
# Stacking Along Rows

arr1 = np.array([1, 2, 3])
arr2 = np.array([4, 5, 6])
arr = np.dstack((arr1, arr2))

print(arr)

**Split**

In [ ]:
arr = np.array([[1, 2, 3], [4, 5, 6],
                [7, 8, 9], [10, 11, 12],
                 [13, 14, 15], [16, 17, 18]])
newarr = np.array_split(arr, 3, axis=1)

print(newarr)

**Search**

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])
x = np.where(arr%2 == 0)
print(x)

**Sort**

In [ ]:
arr = np.array([[3, 2, 4], [5, 0, 1]])
print(np.sort(arr))

**Filter**

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])
filter_arr = arr % 2 == 0
newarr = arr[filter_arr]
print(filter_arr)
print(newarr)

### Numpy Random

In [ ]:
from numpy import random

In [ ]:
np.random.seed(42)

# generate a random number from 0 to 100
x = random.randint(100)
print(x)
# generate a list of 5 random number from 0 to 100
x=random.randint(100, size=(5))
print(x)

In [ ]:
np.random.seed(42)

# generate a random float from 0 to 1
x = random.rand()
print(x)

In [ ]:
np.random.seed(42)

# choose one number from the candidate list
x = random.choice([3, 5, 7, 9])
print(x)

### NumPy ufunc

ufuncs stands for "Universal Functions" and they are NumPy functions that operate on the ndarray object.

ufuncs are element-wise operations.

In [ ]:
x = [1, 2, 3, 4]
y = [4, 5, 6, 7]
z = np.add(x, y)

print(z)

In [ ]:
x = [1,]
y = [4, 5, 6, 7]
z = np.add(x, y)

print(z) # broadcast, this equals to x=[1, 1, 1, 1]

In [ ]:
arr1 = np.array([10, 20, 30, 40, 50, 60])
arr2 = np.array([20, 21, 22, 23, 24, 25])
newarr = np.subtract(arr1, arr2)

print(newarr)

In [ ]:
arr = np.arange(1, 10)
print(np.log2(arr))

In [ ]:
arr1 = np.array([1, 2, 3, 4])
arr2 = np.array([5, 6, 7, 8])

newarr = np.prod([arr1, arr2], axis=1)
print(newarr)

## Pandas

The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

In [ ]:
import pandas as pd

### Series

A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [ ]:
a = [1, 7, 2]
myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [ ]:
print(myvar[0])

1

In [ ]:
# create series with label/index

a = [1, 7, 2]
myvar = pd.Series(a, index = ["x", "y", "z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [ ]:
# create series with dictionary

calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

### DataFrame

Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

Series is like a column, a DataFrame is the whole table.

In [ ]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

In [ ]:
myvar.loc[0]

calories    420
duration     50
Name: 0, dtype: int64

In [ ]:
myvar.loc[[0, 1]]

   calories  duration
0       420        50
1       380        40

In [ ]:
#slicing by specifying column

myvar['calories']

In [ ]:
myvar.shape
myvar.columns
myvar.index
myvar.dtypes
myvar.info

In [ ]:
myvar.columns

In [ ]:
myvar.index

In [ ]:
myvar.dtypes

In [ ]:
myvar.info

In [ ]:
#refer to the row index:
print(myvar.loc[0])

#use a list of indexes:
print(myvar.loc[[0, 1]])

### Analysis data with Pandas

In [ ]:
np.random.seed(42)

# Generate random data
data = {
    'ProductID': np.random.randint(1, 101, 10),
    'ProductName': [f'Product_{i}' for i in range(1, 11)],
    'QuantitySold': np.random.randint(10, 101, 10),
    'PricePerUnit': np.random.uniform(5.0, 50.0, 10)
}

# Create the DataFrame
mydf = pd.DataFrame(data)
mydf.head()

In [ ]:
mydf[mydf['QuantitySold'] > 50] # pick those the quantity sold are above 50

In [ ]:
mydf.groupby('ProductName').agg({'QuantitySold': 'sum'})

## Error Handling

In [ ]:
del x

In [ ]:
try:
  print(x)
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong")